.hoverBlock {
    min-height: 70px;
    min-width: 300px;
}

.hoverList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hoverList a {
    color: #fff;
    text-transform: uppercase;
}

.arrow {
    margin-right: 10px;
}