.typeWrapper {
    background-color: #fbd3cd;
    height: auto;
}

.typeTitle {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 5px 10px 5px;
}

.typeBlock {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

