.typeWrapper {
    height: auto;
    padding-top: 5rem;
    background-image: url('../images/listDownBG.png'), url('../images/listUpBG.png');
    background-position: center; /* Adjust according to your needs */
}

.typeWrapper::before {
    content: ''; /* Add this line to generate the pseudo-element */
    width: 100%;
    height: 75px;
    background-color: #dbcac6;
    z-index: 3;
    position: absolute;
    top: 0;
}

.typeTitle {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 5px 10px 5px;
}

.typeBlock {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

