.typeWrapper {
    margin: 20px 10px;
    padding: 20px;
    max-width: 350px;
    height: 560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #dbcac6;
    border-radius: 30px;
    text-align: center;
    transition: box-shadow 0.3s ease; /* Добавлено свойство transition для box-shadow */
}

.typeWrapper:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Добавлено свойство box-shadow */
}

.typeImg {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.typeTitle {
    font-size: 22px;
    letter-spacing: 0.1em;
    padding: 10px;
}

.typeDescription {
    text-align: justify;
    padding: 0 15px;
    line-height: 1.5;
}

.buttonBlock {
    margin: 20px 0;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #a77d71;
}

.buttonBlock:hover .typeButton {
    color: #a77d71;
}

.buttonBlock:hover .arrowIcon {
    color: #a77d71;
}

.typeButton {
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.2rem;
    transition: color 0.3s ease;
    vertical-align: middle;
    color: #43484e;
    font-family: "Old Standard TT", serif;
}

.arrowIcon {
    margin-left: 10px;
    color: #43484e;
    transition: color 0.3s ease;
}
