/* MassagesType.module.css */

.typeBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.typeWrapper {
    transition: transform 0.3s ease;
    margin: 20px 10px;
    padding: 20px;
    max-width: 370px;
    min-height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #f7eae8;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

.typeWrapper:hover {
    transform: scale(1.05);
}

.hovered {
    transform: scale(1.05);
}

.typeImg {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.typeTitle {
    font-family: "Marck Script", cursive;
    font-size: 26px;
    font-weight: 800;
    color: #43484e;
    letter-spacing: 0.1em;
    padding: 10px;
}

.typeDescription {
    font-size: 16px;
    color: #43484e;
    font-weight: 400;
    text-align: center;
    padding: 0;

}

.buttonBlock {
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #f39a8f;
}

.buttonBlock:hover .typeButton {
    color: #f39a8f;
}

.buttonBlock:hover .arrowIcon {
    color: #f39a8f;
}

.typeButton {
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.2rem;
    transition: color 0.3s ease;
    vertical-align: middle;
    color: #43484e;

}

.arrowIcon {
    margin-left: 10px;
    color: #43484e;
    transition: color 0.3s ease;
}
