.notFoundWrapper {
    margin: 0 auto;
    background-image: url("/public/notFoundBG.png");
    background-size: cover;
    height: 100vh;
}

.notFoundBlock {
    width: 1200px;
    margin: 0 auto;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    padding: 20px;
    margin-bottom: 20px;
}

.notFoundBlock h1, h2 {
    font-size: 60px;
}

.notFoundBlock p {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;

}

.notFoundBlock svg {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-left: 15px;
}


.link {
    margin: 30px 0;
    padding: 10px 20px;
    border: 1px solid #fdf6f3;
    font-size: 18px;
    text-transform: uppercase;
}