.photoWrapper {
    background-color: #f5e8e7;
    background-image: url('../images/listDownBG.png'), url('../images/listUpBG.png');
    /*background-size: cover; !* Adjust according to your needs *!*/
    background-position: center; /* Adjust according to your needs */

}


.photoTitle {
    width: 1200px;
    padding: 40px 0 0 0;
    letter-spacing: 0.2rem;
}

.mainBlock {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}




