.conclusionWrapper {
    background-color: #fbd3cd;
}

.conclusionSection {
    width: 1200px;
    margin: 0 auto;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conclusionTitle {
    letter-spacing: 0.1rem;
}

.conclusionDescription {
    padding: 40px;
    letter-spacing: 0.1rem;
}
