.headerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /*background-color: transparent;*/
    /*background-color: #6c6b6b;*/
    transition: background-color 0.3s ease;
    padding: 10px 0;
    box-sizing: border-box;
}

.scrolled {
    background-color: #dbcac6; /* Change to your desired background color when scrolled */
}


.headerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    position: relative;
}

.headerBlock ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.headerBlock li {
    padding: 10px;
}

.normal, li {
    color: #fff; /* Set the default text color when not active and not scrolled */
    transition: color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 18px;
}

.scrolled .normal {
    color: #fff; /* Set the text color when scrolled */
}

.scrolled li:hover, a:hover {
    color: #000; /* Set the text color when scrolled */
}

.normal:hover {
    color: #000; /* Set the text color when hovered */
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.active, .active:hover {
    color: #fff; /* Set the text color for active links  */
    transition: background-color 0.3s ease, color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 18px;
}

.logo {
    width: 65px;
    height: 50px;
    fill: white;
}

.icon {
    margin-left: 5px;
    vertical-align: middle;
    font-size: 15px
}


.hoverWrapper {
    position: absolute;
    top: 115%;
    background-color: rgb(176, 176, 176, 0.9);
    width: auto;
    /*text-align: center;*/
    border-radius: 20px;
}

.headerBlock li {
    position: relative;
}



