.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.title {
    font-size: 90px;
    color: #fff;
    letter-spacing: 0.5rem;
    font-family: "Marck Script", cursive;
    font-weight: 800;

}

.description {
    font-family: "Marck Script", cursive;
    margin: 20px 0;
    font-size: 80px;
    letter-spacing: 0.5rem;
    color: #fff;
    font-weight: 800;

}

